@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  height: calc(100vh - 80px);
  width: 100vw;
  overflow: hidden;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

body > header {
  height: 80px;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  left: 0;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: rgb(77, 144, 254);
	text-decoration: none;
}
a:hover, a:focus {
	color: rgb(77, 160, 254);
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
th {
  text-align: left;
  font-weight: 600;
}
#content {
  background-color: #f3f3f3;
  overflow-y: auto;
  height: 100%;
}
#footer {
  font-size: 14px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px rgb(233, 233, 233) solid;
}

@media screen and (min-width: 601px) {
  #footer {
    background-color: #fff;
  }

  br {
    display: none;
  }
}

html.wf-active body,
html.wf-active th,
html.wf-active td,
html.wf-active p,
html.wf-active ul,
html.wf-active li,
html.wf-active h1,
html.wf-active h2,
html.wf-active h3,
html.wf-active h4,
html.wf-active h5,
html.wf-active h6 {
  font-family: "Roboto";
}
/* ====================== Navigation ====================== */
nav {
  height: 100%;
  background-color: #252831;
  text-align: center;
  display: flex;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 26px;
  font-weight: 200;
}
#breadcrumb {
    padding: 10px 20px 16px;
    list-style: none;
    background-color: #fff;
    font-size: 17px;
    margin: 0;
    box-shadow: rgb(101, 119, 134) 0px 0px 4px;
    height: 20px;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

@media screen and (max-width: 600px) {
  #map {
    height: 250px;
  }
}

@media screen and (min-width: 1200px) {
  body:not(.inside) #map-container {
    background: #41434a;
  }

  #map {
    position: relative;
    overflow: hidden;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0,0,0, 0.2) 0px 0px 69px 48px;
  }
}
/* ====================== Restaurant Filtering ====================== */
.filter-options-container {
  height: 80px;
}

.filter-options {
  width: 100%;
  height: 80px;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 150ms all ease-in-out;
}

.filter-options.fixed {
  position: absolute;
  top: 80px;
  box-shadow: rgb(101, 119, 134) 0px 0px 4px;
  z-index: 1;
}

.filter-options h2 {
  font-weight: 500;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background: rgba(0,0,0, 0.025);
  font-size: 11pt;
  letter-spacing: 0;
  margin: 10px;
  width: 200px;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px 5px;
  color: rgba(0, 0, 0, 0.87);
  transition: 150ms all ease-in-out;
}

.filter-options select:focus {
  box-shadow: rgba(77, 144, 254, 0.5) 0px 0px 2px 2px;
  border-color: rgb(77, 144, 254);
  outline: 0;
}

@media screen and (max-width: 600px) {
  .filter-options h2 {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

@media screen and (min-width: 601px) {
  .filter-options {
    box-shadow: rgba(101, 119, 134, 0.3) 0px 0px 4px;
    position: relative;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#restaurants-list li {
  background-color: #fff;
  margin: 15px;
  text-align: left;
  display: flex;
  position: relative;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
}

#restaurants-list .restaurant-info-container {
  padding: 0 0 0 20px;
}

#restaurants-list li h1 {
  font-weight: 500;
  font-size: 17px;
  margin: 0;
}

#restaurants-list li > button {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  transition: 150ms all ease-in-out;
  cursor: pointer;
}

#restaurants-list li > button:hover,
#restaurants-list li > button:focus {
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list p:last-child {
  font-weight: 400;
  font-size: 13px;
}

#restaurants-list li a {
  font-size: 14px;
  text-transform: uppercase;
}

#restaurants-list .restaurant-img-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#restaurants-list .restaurant-img-container img {
  width: 100%;
  height: auto;position: absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  #restaurants-list {
    background-color: #fff;
    padding: 20px 0;
  }
  
  #restaurants-list li {
    margin: 0;
    align-items: center;
    padding: 10px 20px;
  }

  #restaurants-list li a {
    display: none;
  }

  #restaurants-list .restaurant-img-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  #restaurants-list .restaurant-img {
    width: 80px;
  }

  #restaurants-list .restaurant-info-container {
    flex: 1 1 0%;
  }

  #restaurants-list .restaurant-img-container img {
    width: auto;
    height: 100%;
  }
}

@media screen and (min-width: 601px) {
  #restaurants-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  #restaurants-list li {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
    border-radius: 2px;
    flex: 1 1 30%;
    flex-direction: column;
  }

  #restaurants-list .restaurant-img-container {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 200px;
  }

  #restaurants-list .restaurant-info-container {
    padding: 10px 20px;
  }

  #restaurants-list li > button {
    display: none;
  }

  #restaurants-list li a {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-top: 1px rgb(233, 233, 233) solid;
  }
}

@media screen and (min-width: 1200px) {
  #restaurants-list {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ====================== Restaurant Details ====================== */
body.inside {
  padding-top: 126px;
  height: calc(100vh - 126px);
}

.inside header {
  height: 126px;
}

.inside nav {
  height: 80px;
}

.inside #content {
  display: flex;
  flex-direction: column;
}

.inside #restaurant-info {
  display: flex;
}

.inside #map-container {
  width: 50%;
  padding: 69px 20px 20px 0px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  border-radius: 2px;
}

#restaurant-name {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 200;
}
#restaurant-img {
  width: 100%;
  border-radius: 2px;
}
#restaurant-address {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 600;
}
#restaurant-cuisine {
  font-size: 12pt;
  font-weight: 900;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
	width: 100%;
}
#restaurant-container {
  padding: 20px;
  width: 50%;
}

#reviews-container h2 {
  font-size: 22px;
  font-weight: 200;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  display: block;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 20px;
}

#reviews-list li > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list li p:not(:last-child) {
  font-weight: 600;
}

#restaurant-hours td:first-child,
#restaurant-hours th:first-child {
  width: 90px;
}

.inside #reviews-container {
  background-color: #fff;
  padding: 0;
  border-top: 1px solid #d9d9d9;
}

.inside #reviews-container h2 {
  padding: 20px 20px 0;
}

.inside #reviews-list li:not(:last-child) {
  border-bottom: 1px rgb(233, 233, 233) solid;
}

@media screen and (max-width: 600px) {
  .inside #restaurant-info {
    flex-direction: column;
    box-sizing: content-box;
  }

  .inside #restaurant-container {
    width: auto;
  }

  .inside #map-container {
    width: auto;
    height: 250px;
    padding: 0;
    border-top: 1px solid #d9d9d9;
  }

  .inside #map {
    box-shadow: none;
  }
}

@media screen and (min-width: 601px) {
  .inside #reviews-container {
    margin-top: 50px;
  }
}

@media screen and (min-width: 800px) {
  .inside #reviews-container h2 {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .inside #restaurant-info {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}